body,html{
    background-image: linear-gradient(rgb(219, 134, 134),yellow);
  }
.head{
  border: 0.5px solid grey;
  width: 100%;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(rgb(40, 93, 183),yellow);
}
.head .logo{
  font-size: 70px;
  position: relative;
  top: 15px;
  left:545px;
  font-family: sans-serif;
  color: rgb(139, 14, 14);
}
.logo:hover{
  color: rgb(160, 75, 18);
}
.left ul{
  display: flex;
  position: relative;
  top: -85px;
  left: 10px;
  list-style: none;
}
.left ul li{
  padding: 15px;
}
.left ul a:hover{
  color: rgb(26, 11, 5);
  transform: scale(1.04);
}
.right #search{
  top: -115px;
  right: -1070px;
  color: rgb(7, 7, 16);
  font-size: 20px;
  background: none;
  text-align: center;
  text-decoration: underline;
  border: none;
  position: relative;
  
}
.right input{
  background-color: green;
}
.left ul li a{
  font-size: 15px;
  color: rgb(95, 24, 49);
  text-decoration: none;
}
.right-r ul li{
  display: inline;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: -153px;
  left: 1270px;
  list-style: none;
  color: rgb(19, 2, 8);
}
.right-r ul li:hover{
  color: rgb(225, 235, 237);
  transform: scale(1.04);
}
.menu li:hover{
  transform: scale(1.09);
}
.menu ul{
  list-style: none;
  position: relative;
  top: -100px;
  left: 360px;
  text-decoration: none;
  display: flex;
}
.menu ul li{
  padding: 25px;
  font-size: 25px;
}
.menu ul li a{
  color: rgb(222, 12, 12);
  text-decoration: none;
}
.a:hover{
  transition-duration:0.5s;
  color: rgb(43, 24, 24);
}
.section1 {
  justify-content: center;
  overflow: hidden;
  margin: 0px auto;
  width: 1080px;
  align-items: center;
}
.section2 .container {
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  display: flex;
  width: 100%;
}
.section2 .container .items {
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
  margin: 10px;
  width:200px;
  justify-content: space-between;
  padding: 1px;
}
.section2 .container .items .name
{
  height: 25px;
  padding-top: 4px;
  color: rgb(196, 16, 16);
  margin: 0;
  text-align: center;
  background-color: rgb(6, 32, 94);
}
.section2 .container .items .price {
  display: flex;
  width: 100%;
  color: rgb(103, 18, 51);
  font-weight: 650;
  float: left;
  padding-left: 10px;
}
.section2 .container .items .info {
  background: wheat;
  height: 60px;
  color: rgb(172, 156, 13);
  padding-left: 10px;
}
.section2 .container .items .img img {
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
  width: 200px;
  height: 200px;
}
.section2 .container .items .img {
  overflow: hidden;
  margin: 0;
}
.section2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  color: white;
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color: rgb(120, 85, 8);
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: rgb(219, 152, 10);
}
.footer2 .div:hover {
  transform: scale(1.05);
}
.footer2 div {
  margin: 10px;
}
.section2 .cop img{
  position: relative;
  left: 1px;
  width: 100%;
}
.cop{
  position: relative;
  left: 20px;
  justify-content: center;
  overflow: hidden;
  border: 40px solid rgb(118, 178, 230);
  width: 1350px;
  border-radius: 15px;
}
.section2 .cop img:hover{
  transform: scale(1.06);
}